#mainNav {
    background: white;
    font-size: 25px;
}

body {
    background: #efefef;
    padding: 10px;
    font-family: 'Varela Round';
}

#footer {
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:20px;
    text-align: right;
}

.navlink {
    color:#aaaaaa;
    padding: 5px;
}

.heading {
    font-weight: bold;
    color: #6b6a69;
    font-size: 40px;
    text-align: center;
}

.subheading {
    font-weight: bold;
    color: #6b6a69;
    font-size: 25px;
    text-align: center;
}

.response {
    color:#ff2821;
    font-size:18px;
    text-align:center;
}

.button {
    width:100px;
}
