#mainNav {
    background: #efefef;
    font-size: 25px;
}

body {
    background: white;
    padding: 10px;
    font-family: 'Varela Round';
}

#footer {
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:20px;
    text-align: right;
}

.navlink {
    color:#aaaaaa;
    padding: 5px;
}

