{% extends 'base.html' %}

{% block head %}
<title> Log In Page </title>
<link rel="stylesheet" type="text/css" href="../static/login.css">
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="text-center" style="padding:50px 0">
  <div class="heading">{% block heading %}login {% endblock %}</div>
  <div class="login">
    <form action = "/" method = "POST"> 
      <div class="loginBackground">
	<div class="form">
	  <label for="lg_username" class="sr-only">Username</label>
	  <input type="text" class="formBackground" id="lg_username" name="username" placeholder="username">
	</div>
	<div class="form">
	  <label for="lg_password" class="sr-only">Password</label>
	  <input type="password" class="formBackground" id="lg_password" name="password" placeholder="password">
	</div>
	<div class="form">
	  <button type="submit"> {% block submit %} Login {% endblock %} </button>
	  
	</div>
      </div>
  </div>
  <div class="register">
    {% block text %}
    <p>new user? <a href="/reg">create new account</a></p>
    {% endblock %}
  </div>
  </form>
</div>
{% endblock %}





