{% extends 'base.html' %}

{% block head %}<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/login.css">
<title> Log In Page </title>{% endblock %}

{% block content %}
{% block action %}
<div class="text-center" style="padding:50px 0">
  <div class="heading">login</div>
  <div class="login-form-1">
    <form id="login-form">
      <div class="main-login-form">
	<div class="login-group">
	  <div class="form-group">
	    <label for="lg_username" class="sr-only">Username</label>
	    <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
	  </div>
	  <div class="form-group">
	    <label for="lg_password" class="sr-only">Password</label>
	    <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
	  </div>
	  <div class="form-group">
	    <button type="submit">Login </button>
	    
	  </div>
	</div>
      </div>
      <div class="register">
	<p>new user? <a href="/reg">create new account</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% endblock %}
