{% extends 'base.html' %}

{% block head %}<title> Log In Page </title>{% endblock %}

{% block content %}

{% block heading %}<h3><center>Please Log In</center></h3>{% endblock %}
{% block action %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.css">
<form class="callout text-center" action ="/auth" method="POST">
{% endblock %}
<br>
<body >


<section style="
  border: 2px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
}

<div class="floated-label-wrapper" >
  <!--<label for="full-name">Full name</label>-->
  Username
  <input type = "text" name = "username" placeholder="Full name">
<div class="floated-label-wrapper">
  <!--<label for="pass">Password</label>-->
  Password
        <input type="password" id="password" name="password" placeholder="Password">
</div>

{% set msgs = get_flashed_messages() %}
{% for each in msgs %}
<p style="color:red;"><b>{{each}}<p></b>
{% endfor %}

<input id="show-password" type="checkbox" onclick="myFunction()"><label for="show-password">Show password</label>

<script>
  function myFunction() {
    var x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
  }
  </script>


  <input class="button expanded" type="submit" value="Log In" name="sub1">
</form>
{% block register %}
<p>
  Don't have an account?
</p>

<form action="/reg">
 
  <input class="button expanded" type="submit" value="Register" name="regbutton" value="REGISTER" formaction="/reg">
</form>
</section>
</body>

{% endblock %}


{% endblock %}
