{% extends base.html %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/login.css">
<title> Customize </title>
{% block head %}
{% endblock %}

{% block content %}
<center>
<div class="text-center" style="padding:50px 0">
  <div class="heading"> Customize </div>
  <div class="login">
  <form action="/puzzles" method="POST">
    <div class="loginBackground">
      <div id="flashedMessages">
	{% set msgs = get_flashed_messages() %}
	{% for each in msgs %}
	<h5 style="color:#ff2821">{{each}}</h5>
	<br>
	{% endfor %}
      </div>
      <div class="form">
	<div class="formText">
	  Size: <br>
	</div>
	<select name="size">
	  <option value="4"> 4x4 </option>
	  <option value="4"> 5x5 </option>
	  <option value="4"> 6x6 </option>
	  <option value="4"> 7x7 </option>
	  <option value="4"> 8x8 </option>
	  </select>
      </div>
      <br>
      <div class="form">
	<div class="formText">
	  Color: <br>
	  <ul class="colors">
	    {% for each in colors %}
	    <li style="background-color:"{{each}}> </li>
	    {% endfor %}
	  </ul>
	  <div id="color">
	  <button class="btn btn-secondary" name="submit"> Submit </button>
	</div>
      </div>
    </div>
  </form>
  </div>
  </center>



