{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/login.css">
<link rel="stylesheet" type="text/css" href="../static/UncommonApp.css">
<title> Customize </title>
{% endblock %}

{% block content %}
<div style="padding:50px 0; width:20%; display:inline-block; float:left;">
  <div class="heading"> Customize </div>
  
  <div class="loginBackground text-center">
    <form action="/play" id="custom" method="POST">
      <div id="flashedMessages">
	{% set msgs = get_flashed_messages() %}
	{% for each in msgs %}
	<h5 style="color:#ff2821">{{each}}</h5>
	<br>
	{% endfor %}
      </div>
      <div class="form">
	<div class="formText">
	  Size: <br>
	</div>
	<select name="size">
	  <option value="4x4"> 4x4 </option>
	  <option value="5x5"> 5x5 </option>
	  <option value="6x6"> 6x6 </option>
	  <option value="7x7"> 7x7 </option>
	  <option value="8x8"> 8x8 </option>
	</select>
      </div>
      <br>
      <div class="form">
	<div class="formText">
	  Top Left Corner: <br>
	  <ul class="colors">
	    {% for each in colors0 %}
	    <li class="colorfill" style="background-color:{{each}}"> </li>
	    {% endfor %}
	    <br>
	    {% for each in colors0 %}
	    <input type="radio" class="radio" name="tlcolor" value="{{each}}">
	    {% endfor %}
	  </ul>
	</div>
	<div class="formText">
	  Top Right Corner: <br>
	  <ul class="colors">
	    {% for each in colors1 %}
	    <li class="colorfill" style="background-color:{{each}}"> </li>
	    {% endfor %}
	    <br>
	    {% for each in colors1 %}
	    <input type="radio" class="radio" name="trcolor" value="{{each}}">
	    {% endfor %}
	  </ul>
	</div>
	<div class="formText">
	  Bottom Left Corner: <br>
	  <ul class="colors">
	    {% for each in colors2 %}
	    <li class="colorfill" style="background-color:{{each}}"> </li>
	    {% endfor %}
	    <br>
	    {% for each in colors2 %}
	    <input type="radio" class="radio" name="blcolor" value="{{each}}">
	    {% endfor %}
	  </ul>
	</div>
	<div class="formText">
	  Bottom Right Corner: <br>
	  <ul class="colors">
	    {% for each in colors3 %}
	    <li class="colorfill" style="background-color:{{each}};"> </li>
	    {% endfor %}
	    <br>
	    {% for each in colors3 %}
	    <input type="radio" class="radio" name="brcolor" value="{{each}}">
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </form>

    <div id="color">
      <button class="btn btn-secondary" name="preview"> Preview </button>
      <button class="btn btn-secondary" form="custom" value="submit"> Create </button>
    </div>

  </div>
  

</div>

<div id="preview-tiles">
</div>


<script src="/static/customize.js"></script>

{% endblock %}


