{% extends 'base.html' %}

{% block title %} Home
{% endblock %}

{% block content %}
<center>
<div class="heading">
  <p> Welcome {{Name}}! </p>
</div>
<br>
<br>
<div class="subheading">
  <p> Featured Puzzle Based on the Weather: </p>
</div>
<center>
<div class="moves">
    <p> Moves: 0</p>
</div>
<div class="modal" id="correctPop">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="col-12 modal-title text-center">Correct!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Moves:<br>
      </div>
      <div class="modal-footer">
        <form action = "/auth" method = "POST">
          <input type="submit" value = "Home" class="btn btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="puzzle">
  <table style = "cellpadding: 0;
		  cellspacing: 0;
		  border: 0;
		  border-collapse: collapse;"

	 class = "{{tile_size}} {{UL}} {{UR}} {{LL}} {{LR}}">

    {% for row in range( colors|length ) %}
    <tr>

      {% for column in range( colors[row]|length ) %}
      <td style = "padding: 0; margin: 0;">
      	<div style = "width: 100px;
      		      height: 100px;
      		      background-color: rgb({{colors[row][column][0]}},
      		      {{colors[row][column][1]}},
      		      {{colors[row][column][2]}});
      		      padding: 10px;
                box-sizing: border-box;
                vertical-align: middle;
                text-align: center;
                font-size: 40px"

      	     class = "box row_{{row}} column_{{column}}">
	</div>
      </td>
      {% endfor %}

    </tr>
    {% endfor %}
    </table>
</div>
<br>
<div id="button">
  <button type="button" id="rand" class="button rand btn btn-secondary">Start Game!</button>
</div>
<div id="check" style="display: none" >
  <button type="button" id="rand" data-toggle="modal" data-target="#correctPop" class="btn btn-secondary check button "> Check </button>
</div>
<br>
<p class="response">
</p>
</center>

<script src="/static/puzzle.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}
