{% extends 'base.html' %}

{% block head %}<title> Home </title>
<!--<div class = "breadcrumbs">
    <ul class="breadcrumbs">
      <li><a href = "/" >Home</a></li>
    </ul>
</div>
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.css">

<body style="background-color:#EDAE49;">
  <div  style="background-color:#D14958;" class="top-bar">
    <div  style="background-color:#D14958;" class="top-bar-left">
      <ul style="background-color:#D14958;" class="dropdown menu">
	<li style="color:black;">
	  <a style="color:black;"  href="#"> Home </a>
	</li>
	<li>
	  <a style="color:black;" href="#game"> Play </a>
	</li>
	<li><a href = "/logout" style="color:black;"> Log Out</a>
	</li>
      </ul>
    </div>
  </div>
  <br>


  {% endblock %}



  {% block content %}

	{% endblock %}
