<!--
# UncommonApp
# Dennis Chen, T Fabiha, Addison Huang, Michelle Tang
# P#02: The End
-->
<!-- This will allow users to create an account and then lead them into a tutorial. -->
{% extends 'auth.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/login.css">
<title> Register Page </title>
{% endblock %}



{% block heading %}

<div class="container">
          <div class="col-md-12">
          </div>
          <!-- <img src="/static/logo.png" alt="logo" width="230"> -->

<p style="color: White"> Register!</p>
{% endblock %}

{% block action %}
<form action="/added" method = "POST">
{% endblock %}

{% block other %}
<div class="form">
  <input type="password" class="formBackground" name="confirmpassword" placeholder="confirm password">
</div>
{% endblock %}

{% block submit %}
Register
{% endblock %}

{% block text %}
<p style="color: White"> Already have an account? <a href="/" style="color: White"> LOGIN </a> </p>
{% endblock %}
