{% extends 'auth.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/login.css">
<title> Register Page </title>
{% endblock %}


{% block heading %}
register
{% endblock %}

{% block action %}
<form action="/added" method = "POST">
{% endblock %}

{% block other %}
<div class="form">
  <input type="text" class="formBackground" name="confirmpassword" placeholder="confirm password">
</div>
{% endblock %}

{% block submit %}
Register
{% endblock %}

{% block text %}
<p> already have an account? <a href="/"> login </a> </p>
{% endblock %}
