<!DOCTYPE html>
<html lang = 'en'>
<html>
  <head>
    <meta charset = 'utf-8'/>
    <title>
      TESTING
    </title>
  </head>

  <body>
    <table>
    {% for rows in colors %}
    <tr>
      {% for column in rows %}
        <td><div style = "width:100px;height:100px ; background-color:rgb({{column[0]}},{{column[1]}},{{column[2]}}) ; padding: 10px ; box-sizing: border-box" class = 'box'></div></td>
      {% endfor %}
    </tr>
    {% endfor %}
    <script src="/static/puzzle.js"></script>
  </body>
</html>
