{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/UncommonApp.css">
<meta charset = 'utf-8'/>
<title>
  TESTING
</title>
{% endblock %}

{% block content %}
<center>
<div class="puzzle">
  <table style = "cellpadding: 0;
		  cellspacing: 0;
		  border: 0;
		  border-collapse: collapse;"

	 class = "{{tile_size}} {{UL}} {{UR}} {{LL}} {{LR}}">

    {% for row in range( colors|length ) %}
    <tr>

      {% for column in range( colors[row]|length ) %}
      <td style = "padding: 0; margin: 0;">
      	<div style = "width: 100px;
      		      height: 100px;
      		      background-color: rgb({{colors[row][column][0]}},
      		      {{colors[row][column][1]}},
      		      {{colors[row][column][2]}});
      		      padding: 10px;
                box-sizing: border-box;
                vertical-align: middle;
                text-align: center;
                font-size: 40px"

      	     class = "box row_{{row}} column_{{column}}">
	</div>
      </td>
      {% endfor %}

    </tr>
    {% endfor %}
    </table>
</div>
<br>
<div id="button">
  <button type="button" id="rand" class="button rand btn btn-secondary"> Randomize </button>
</div>
<br>
<p class="response">
</p>
</center>

<script src="/static/puzzle.js"></script>

{% endblock %}
